@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie

<h1>Movie Added</h1>

<p>The following movie was added/edited:</p>

<ul>
    <li><strong>Title:</strong> @Model.Title</li>
    <li><strong>Category:</strong> @Model.CategoryId</li>
    <li><strong>Year:</strong> @Model.Year</li>
    <li><strong>Director:</strong> @Model.Director</li>
    <li><strong>Rating:</strong> @Model.Rating</li>
    <li><strong>Edited:</strong> @Model.Edited</li>
    <li><strong>Lent To:</strong> @Model.LentTo</li>
    <li><strong>Notes:</strong> @Model.Notes</li>
</ul>

<a asp-controller="Home" asp-action="AddMovie">Add another</a> |
<a asp-controller="Home" asp-action="Index">Home</a> |
<a asp-controller="Home" asp-action="MovieList">View Complete Movie List</a>